:root {
  --shade-of-blue: #2196f3;
  --shade-of-black: #2f303a;
  --white: #fff;
  --shade-of-grey: #f5f4fa;
  --shadow-color-1: rgba(0, 0, 0, 0.1);
  --shadow-color-2: rgba(0, 0, 0, 0.08);
  --shadow-color-3: rgba(0, 0, 0, 0.12);
  --shade-of-beige: rgba(255, 255, 255, 0.6);
  --shade-of-brown: #757575;
  --shade-of-black-2: #212121;
  --font-roboto: "Roboto";
  --font-releway: "Releway";
}
body {
  font-family: var(--font-roboto);
  font-weight: 700;
  color: var(--shade-of-black-2);
  font-size: 14px;
}
::selection {
  color: var(--white);
  background-color: var(--shade-of-blue);
}
.container {
  width: 1200px;
}
.next-button:hover {
  width: 121px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--shade-of-blue);
  color: var(--white);
  border: var(--white);
  box-shadow: 0px 3px 1px var(--shadow-color-1), 0px 1px 2px var(--shadow-color-2),
    0px 2px 2px var(--shadow-color-3);
  line-height: 1.62;
}
.title-big {
  background-color: var(--shade-of-black);
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  height: 600px;
  text-align: center;
}
.footer-black {
  background-color: var(--shade-of-black);
  color: var(--shade-of-beige);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}
.logo {
  color: var(--shade-of-blue);
  font-family: var(--font-releway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.black {
  color: var(--shade-of-black-2);
}
.white {
  color: var(--white);
}
.link {
  color: var(--shade-of-black-2);
  padding: 0;
}
.link:link {
  text-decoration: var(--shade-of-blue);
}
.link:hover {
  color: var(--shade-of-blue);
}
.link:active {
  color: var(--shade-of-blue);
}
.grafit {
  color: var(--shade-of-brown);
}
.blue {
  color: var(--shade-of-blue);
}
.menu-500 {
  font-weight: 500;
  line-height: 1.14;
}
.button-big {
  background-color: var(--shade-of-blue);
  color: var(--white);
  height: 50px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0.15);
  letter-spacing: 0.96px;
  font-size: 16px;
  font-family: var(--font-roboto);
  border-radius: 4px;
  border: var(--white);
  line-height: 1.6;
  cursor: pointer;
}
.ul-style {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-head > li {
  font-size: 14px;
  line-height: 1.14;
}
.list-text {
  font-size: 14px;
  color: var(--shade-of-brown);
  font-weight: 400;
  line-height: 1.71;
}
.over-photos {
  text-align: center;
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
}
.under-photos-1 {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
}
.under-photos {
  font-weight: 400;
  color: var(--shade-of-brown);
  line-height: 1.16;
}
.under-photos-left {
  font-weight: 400;
  color: var(--shade-of-brown);
  line-height: 2;
}
.under-photos-left-1 {
  font-size: 18px;
  line-height: 2;
}
.photo-center > li {
  text-align: center;
}
.adres {
  color: var(--white);
  font-style: normal;
}
.adres-second-line {
  color: var(--shade-of-beige);
}
.next-button {
  width: 93px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--shade-of-grey);
  border: var(--white);
  line-height: 1.62;
  cursor: pointer;
}