body {
    font-family: "Roboto";
    font-weight: 700;
    color: #212121;
    font-size: 14px;
}
::selection {
    color: #fff;
    background-color:#2196F3;
}
.container {
width: 1200px;
}
button {
    cursor: pointer;
}
button:hover {
color: #6ad612;
}
button:active {
color: #2196F3
}
.title-big {
display: flex;
align-content: center;
justify-content: center;
background-color: #2F303A;
color: white;
font-weight: 900;
font-size: 44px;
line-height: 1.36em;
height: 600px;
}
.footer-black {
background-color: #2F303A;
color: rgba(255, 255, 255, 0.6);
font-size: 14px;
line-height: 1.71em;
font-weight: 400;
}
.logo {
    color: #2196F3;
    font-family: "Releway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
}
.black > span {
color: #212121;
}
.white > span {
    color: white;
}
.blue {
color: #2196F3;
}
a {
color: #2196F3;
}
a:link {
    text-decoration: #2196F3;
}
a:hover {
    color: #d68112;
}
a:active {
    color: #2196F3;
}
.grafit {
color: #757575;
}
.menu-500 {
    font-weight: 500;
    line-height: 1.14em;
}
.button-big {
    background-color: #2196F3;
    color: #fff;
    height: 50px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0.15);
    letter-spacing: 00.06em;
    font-size: 16px;
    font-family: "Roboto";
    border-radius: 4px;
    border: #fff;
    line-height: 1.6em;
}
.ul-style {
    list-style: none;
}
.list-head > li {
font-size: 14px;
line-height: 1.14em;
}
.list-text {
font-size: 14px;
color: #757575;
font-weight: 400;
line-height: 1.71em;
}
.over-photos {
  text-align: center;
  font-size: 36px;
  line-height: 1.18em;
  text-align: center;
}
.under-photos-1 {
font-size: 16px;
line-height: 1.18em;
font-weight: 500;
}
.under-photos {
    font-weight: 400;
    color: #757575;
    line-height: 1.16em;
}
.under-photos-left {
    font-weight: 400;
    color: #757575;
    line-height: 2em;
}
.under-photos-left-1 {
    font-size: 18px;
    line-height: 2em;
    }
.photo-center > li {
    text-align: center;
}
.adres {
color: white;
font-style: normal;
}
.first-button {
width: 121px; 
height: 38px;
border-radius: 4px;
text-align: center;
background-color: #2196F3;
color: white;
border: #fff;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
line-height: 1.625em;
}
.next-button {
width: 93px; 
height: 38px;
border-radius: 4px;
text-align: center;
background-color: #F5F4FA;
border: #fff;
line-height: 1.625em;
}
.flex-elements {
display: flex;
justify-content: space-around;
align-items: baseline;


}
.flex-menu-2 {
display: flex;
justify-content: flex-end;

}